.pred-input{
  .pred-prediction{
    position: absolute;
    left: -205px;
    width: 200px;
    top: 99px;
  }
  .pred-sequence{
    position: absolute;
    right: -205px;
    width: 200px;
    top: 99px;
  }
}